# SF Salaries Exercise

** Import pandas as pd.**

In [1]:
import pandas as pd

In [2]:
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [3]:
df = pd.read_csv('Salaries.csv')#read csv
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
d=df['BasePay'] #select column 'BasePay'
d

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64

In [7]:
d.mean() #average of BasePay

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
h=df['OvertimePay'] #select column 'OvertimePay'

In [9]:
h

0              0.00
1         245131.88
2         106088.18
3          56120.71
4           9737.00
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: OvertimePay, Length: 148654, dtype: float64

In [10]:
h.max() #select the maximum amount

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [11]:
j=df['JobTitle'] #select job title column

In [12]:
l=[df['EmployeeName']=='JOSEPH DRISCOLL']#select employee name of joseph driscoll

In [13]:
l=df['JobTitle']

In [14]:
l

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148649                                         Custodian
148650                                      Not provided
148651                                      Not provided
148652                                      Not provided
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148654, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [15]:
c=df['TotalPayBenefits']#select TotalPayBenefits column

In [16]:
m=[df['EmployeeName']=='JOSEPH DRISCOLL']#select employee name of joseph driscoll

In [17]:
c=m#show the totalpaybenefits

In [18]:
c

[0         False
 1         False
 2         False
 3         False
 4         False
           ...
 148649    False
 148650    False
 148651    False
 148652    False
 148653    False
 Name: EmployeeName, Length: 148654, dtype: bool]

** What is the name of highest paid person (including benefits)?**

In [19]:
highest=df['TotalPayBenefits']

In [20]:
highest.max()

567595.43

In [21]:
df.loc[highest.max()]

KeyError: 567595.43

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [22]:
lowest=df['TotalPayBenefits']

In [23]:
lowest.min()

-618.13

In [24]:
df.loc[lowest.min()]

KeyError: -618.13

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [25]:

o=df['BasePay']

In [26]:
i=o.mean()

In [27]:
v=df.sort_values(by='Year')

In [28]:
x=[i,v]

In [29]:
x

[66325.44884050643,
             Id            EmployeeName  \
 0            1          NATHANIEL FORD
 24116    24117            QIN MING ZHU
 24115    24116          BING KEUNG MAK
 24114    24115            HOWARD CHUCK
 24113    24114    ROBERT VALENZUELA JR
 ...        ...                     ...
 123239  123240      Heather M Weisbrod
 123240  123241            Carlene Boyd
 123241  123242  Denise C Thomas-Wright
 123243  123244            Edmund F Lee
 148653  148654               Joe Lopez

                                               JobTitle    BasePay  \
 0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
 24116                                        CUSTODIAN   46046.29
 24115                                        CUSTODIAN   48472.40
 24114                                        CUSTODIAN   46106.73
 24113                                 TRANSIT OPERATOR   41916.13
 ...                                                ...        ...
 123239                       Psychiatric Social Worker   90142.19
 123240                             Transit Car Cleaner   60771.01
 123241                                Transit Operator   64910.31
 123243                        Sr. Community Devl Spc 1   91390.02
 148653                      Counselor, Log Cabin Ranch       0.00

         OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
 0              0.00  400184.25       NaN  567595.43         567595.43  2011
 24116       1853.97    3934.44       NaN   51834.70          51834.70  2011
 24115       1972.35    1390.50       NaN   51835.25          51835.25  2011
 24114        890.49    4839.07       NaN   51836.29          51836.29  2011
 24113       7663.48    2262.51       NaN   51842.12          51842.12  2011
 ...             ...        ...       ...        ...               ...   ...
 123239         0.00    2024.57  33999.78   92166.76         126166.54  2014
 123240     24994.24   12108.49  28279.79   97873.74         126153.53  2014
 123241     21319.44    4906.81  35016.49   91136.56         126153.05  2014
 123243         0.00       0.00  34758.08   91390.02         126148.10  2014
 148653         0.00    -618.13      0.00    -618.13           -618.13  2014

         Notes         Agency  Status
 0         NaN  San Francisco     NaN
 24116     NaN  San Francisco     NaN
 24115     NaN  San Francisco     NaN
 24114     NaN  San Francisco     NaN
 24113     NaN  San Francisco     NaN
 ...       ...            ...     ...
 123239    NaN  San Francisco     NaN
 123240    NaN  San Francisco     NaN
 123241    NaN  San Francisco     NaN
 123243    NaN  San Francisco     NaN
 148653    NaN  San Francisco     NaN

 [148654 rows x 13 columns]]

In [16]:
x=

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [36]:
x=df['JobTitle'].nunique() #no. of unique values

In [37]:
x

2159

** What are the top 5 most common jobs? **

In [41]:
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [68]:
df[Year]=='2013'
df[Year]=df['JobTitle'].value_counts().head()

NameError: name 'Year' is not defined

In [69]:
df['Year']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
148649   NaN
148650   NaN
148651   NaN
148652   NaN
148653   NaN
Name: Year, Length: 148654, dtype: float64

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [79]:
df[['JobTitle']==['Chief']].value_counts().head()

KeyError: False

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [22]:
yes

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!