# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [15]:
def lesser_of_two_evens(a,b):
  
    if (a % 2 and b % 2==0):
        if b>a:
            return(a)
        else:
            return(b)
    else: 
        if a>b:
            return(a)
        else:
            return(b)
    
    pass

In [16]:
# Check
lesser_of_two_evens(2,4)

4

In [17]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [49]:
def animal_crackers(text):
    
    name=text.split()
    
    if  name[0][0]==name[1][0]:
         print('true')
            
    else :
        print('false')

    pass

In [50]:
# Check
animal_crackers('Levelheaded Llama')

true

In [51]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [66]:
def makes_twenty(n1,n2):
    
        if n1 == 20 or n2 == 20 or (n1+n2)== 20:
            return True
        else:
            return False
pass

In [67]:
# Check
makes_twenty(20,10)

True

In [68]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [69]:
def old_macdonald(name):
     
    if len(name) > 3:
        return name[0].capitalize() + name[4].capitalize()
pass

In [70]:
# Check
old_macdonald('macdonald')

'MO'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [72]:
def almost_there(n):
    if abs(100 - n) <= 10 or abs(200 - n) <= 10:
                               return True
    else :
                               return False
    pass

In [73]:
# Check
almost_there(104)

True

In [74]:
# Check
almost_there(150)

False

In [75]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [89]:
def has_33(num):
    for n in num:
        if num[n:n+2] == [3,3]:
            return True
        else:
            return False
pass

In [90]:
# Check
has_33([1, 3, 3])

True

In [91]:
# Check
has_33([1, 3, 1, 3])

False

In [92]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [177]:
def paper_doll(text):
    t=''
    for x in text:
        t=x*3
        print (t)
pass

In [178]:
# Check
paper_doll('Hello')

HHH
eee
lll
lll
ooo

In [179]:
# Check
paper_doll('Mississippi')

MMM
iii
sss
sss
iii
sss
sss
iii
ppp
ppp
iii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [227]:
def blackjack(a,b,c):
    total1 = a+b+c
    
    if total1<=21:
        return total1
    elif total1 > 21 and total1%2==0:
        return 'Bust'
    elif total1 > 21 :
        total2=total1-10
        return total2
pass

In [224]:
# Check
blackjack(5,6,7)

18

In [225]:
# Check
blackjack(9,9,9)

17

In [226]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):

    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [251]:
def spy_game(nums):
    x=[]
    for num in nums:
        if 0 in nums and 7 in nums:
                return True
        else:
            return False
pass

In [252]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [253]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [254]:
# Check
spy_game([1,7,2,0,4,5,0])

True

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [261]:
def count_primes (num):
    for x in range(2,num):
        if num%x==0 or num%1:
            return num%x
        else:
            return num

In [262]:
# Check
count_primes(100)

0

## Great Job!